.title{
  padding: 15px 0;
}
.addCommentForm {
  display: flex;
  flex-direction: column;
}
.formName{
  width: 100%;
  padding: 10px;
  margin-bottom: -1px;
}
.formComment{
  width: 100%;
  padding: 10px;;
}
.formSubmit{
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  width: 150px;
  border: 0;
  margin-left: auto;
  margin-top: 10px;
  outline: none !important;
  cursor: pointer;
}
.comments{
  list-style: none;
  padding: 0;
  margin: 0;

}
.comment{
  margin-bottom: 10px;
  background: #eeeeee;

}
.commentDate{
  padding: 10px;
}
.commentName{
  padding: 10px;
}
.commentComment{
  padding: 10px;
}
